.download-wrapper {
    display: flex;
    justify-content: center;
}

.result-container {
    width: 900px;
    min-height: 100px;
    border-radius: 10px;
    background-color: #e6e6e6;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.result-container .video-details {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 10px 10px;
    justify-content: center;
    & .thumbnail {
        width: 300px;
        height: 200px;
        margin: 10px 15px 0 0;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
    & p {
        margin: 15px 0 0 10px;
    }
    & .descriptors {
        display: flex;
        flex-direction: column;
        & .title {
            margin: 15px 0 0 10px;
        }
    }
}

.result-container .download-section {
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 0;
    width: 100%;
    height: 100%;
    & .format-select-parent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & .format-select {
            width: min-content;
            display: flex;
            align-items: center;
            & .format-selector-ele {
                padding: 7px 7px 7px 7px;
                border: 3px solid black;
                border-radius: 10px;
                margin: 0 10px 0 10px;
                height: 25px;
            }
        }
    }
    & .results-table {
        width: 85%;
        margin: 0 auto 20px;
        padding: 30px 0 0 0;
        background-color: #f2f2f2;
        border-radius: 10px;
        border-collapse: collapse;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        & th {
            padding: 20px 0 20px 0;
        }

        & tbody {
            text-align: center;
        }
        & td {
            padding: 20px 0 20px 0;
            border-top: 1px solid black;
            border-collapse: collapse;
        }

        & a {
            background-color: orange;
            padding: 10px 10px 10px 10px;
            text-decoration: none;
            color: black;
            font-weight: 500;
            border-radius: 5px;
        }
    }
}