.ytloader-root {
    width: 900px;
    height: 600px;
    border: 0px solid black;
}

.ytloader-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.ytloader-root .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    & h1 {
        margin: 25px 0 0 0;
    }
    & p {
        font-weight: 400;
        font-size: 20px;
    }
    & input {
        width: 500px;
        height: 50px;
        padding: 7px 17px 7px 17px;
        font-size: 20px;
        border: none;
        background-color: #FFFAFA;
    }
    & button {
        height: 64px;
        cursor: pointer;
        border: none;
        background-color: orange;
    }
    & .input-field-div {
        display: flex;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    & #error-msg {
        margin: 25px 0 0 0;
        color: red;
    }
    & .tag-line {
        margin: 5px 0 30px 0;
        color: grey;
    }
}

.ytloader-root .video-type-picker {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 30px;
    background-color: #CCCCCC;
    & div {
        width: 50px;
        height: 25px;
        padding: 5px;
        border-radius: 5px;
        margin: 10px 10px 10px 10px;
        text-align: center;
        background-color: white;
        cursor: pointer;
    }
    & #default {
        background-color: orange;
    }
}

@media only screen and (max-width: 650px) {
    .ytloader-root .input-container {
        & p {
            font-weight: 400;
            font-size: 17px;
            text-align: center;
        }
        & input {
            width: 300px;
        }
    }
}

/* For loading animation */
.loader{
    width:120px;
    height:24px;
    margin-top: 10px;
    -webkit-mask:
      radial-gradient(circle closest-side,grey 94%,#0000) 0 0/25% 100%,
      linear-gradient(grey 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
    mask:
      radial-gradient(circle closest-side,grey 94%,#0000) 0 0/25% 100%,
      linear-gradient(grey 0 0) center/calc(100% - 12px) calc(100% - 12px) no-repeat;
    background: linear-gradient(orange 0 0) left/0% 100% no-repeat grey;
    animation:bblprg 2s infinite linear;
  }
  @keyframes bblprg {
      100% {background-size:100% 100%}
  }
  