.navbar-container {
    width: 100vw;
    height: 85px;
    overflow: none;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    & h1 {
        margin-left: 20px;
        cursor: pointer;
        user-select: none;
    }
}